<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://phonegap.com/ns/1.0"
	id = "com.phonegap.example"
	versionCode = "10"
	version = "1.0.0" >

	<!--VersionCode is optional and Android only-->

	<name>Cuestionario</name>

	<description>
		App de prueba en la que se manejan preguntas de opcion multiple
	</description>

	<author href="iti16.com" email ="201600054@uprr.edu.mx">Web 
	</author>
</widget>